<manifest xmlns:tools="http://schemas.android.com/tools"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <application tools:ignore="MissingApplicationIcon">
        <meta-data
                android:name="xposedmodule"
                android:value="true" />
        <meta-data
                android:name="xposedminversion"
                android:value="53" />
    </application>
</manifest>